/* Estilos da pagina index */

.cover-container figure img{
    width: 100%;
}

main h3.title{
    font-size: 1.2em;
}

main section abbr{
    color: #25cbd3;
}

#descricao-foto{
    font-size: 10px;
    position:absolute;
    top: 60%;
    left: 25%;
}

@media screen and (min-width: 992px) {
    .cover-container{
        display: inline-block;
        width: 40%;
    }

    .section-video{
        display: inline-block;
    }

    main .section-azure blockquote{
        width: 70%;
        margin: auto;
        margin-bottom: 15px;
        text-align: center;
    }

}